body {
  max-width: 2048px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  padding: 40px 10%;
}

.left_side {
  display: inline-block;
  width: 18%;
  margin-right: 2%;

  .menu {
    margin: 35px 0;
    list-style-type: none;
    line-height: 30px;

    .menu_item {
      margin-bottom: 10px;

      .fa {
        width: 20px;
        margin-right: 5px;
        color: black;
      }

      color: #00A690;
      font-size: 14px;
      font-style: italic;
    }
  }

  .contact {
    .contact_title {
      border-bottom: 1px dashed #CCCCCC;
      padding: 5px;
      margin-top: 20px;
      font-size: 14px;
      font-weight: normal;
    }

    .contact_content {
      font-size: 12px;
      margin: 10px 0;
      width: 130px;
      font-style: italic;
      line-height: 20px;
    }

    .contact_link {
      border: 1px solid #EEEEEE;
      padding: 5px 5px;
      border-radius: 4px;
      background-color: white;
      margin-top: 10px;
      color: #3BA190;
      font-style: italic;
    }
  }
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.main_content {
  float: right;
  width: 80%;

  .picture_area {
    background: url("../images/cakes.jpg") no-repeat;
    background-size: cover;
    height: 350px;
    border: none;

    .message {
      float: right;
      clear: both;
      display: block;
      padding: 20px;
      line-height: 0;
      font-style: italic;

      &.style_white {
        background-color: white;
        font-size: 20px;
        margin-top: 210px;
      }

      &.style_black {
        background-color: black;
        color: white;
        font-size: 15px;
      }
    }
  }

  .text_area {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    .text_item {
      background: #EFF8F7;
      color: #61BEAE;
      display: inline-block;
      width: 25%;
      box-sizing: border-box;
      //text-align: left;  Confused about why this way not work. Need to figure out.
      padding: 20px;
      border-right: 1px solid #D3EDE9;
      font-size: 18px;
      float: left;

      &.active {
        background-color: #D9EFEC;
      }

      .content {
        font-style: italic;
        font-size: 12px;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .mail_area {
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;
    margin: 20px 0;

    .tip_part {
      width: 50%;
      display: inline-block;
      margin-left: 20px;
    }

    .mail_text {
      font-size: 10px;
      font-style: italic;
    }

    .mail_icon {
      margin: 10px 10px 10px 0;
      font-size: 22px;
      float: left;
      clear: both;
      display: inline-block;
    }

    .mail_btn {
      padding: 2px 10px;
      border-radius: 3px;
      background-color: #E3E2E3;
      border: 1px solid #CCCCCC;
      font-weight: bold;
    }
    .mail_box {
      width: 20%;
      margin: 0 10px 0 15%;
    }
  }

  @mixin post-background-image($imageURL) {
    .post_pic {
      background: url($imageURL) no-repeat;
      background-size: cover;
      height: 100px;
      border: 1px solid #EEEEEE;
      background-origin: content-box;
      padding: 10px;
    }
  }

  .post_area {
    list-style-type: none;

    .post_item {
      display: inline-block;
      float: left;
      width: 23%;
      margin-right: 2%;

      &:last-child {
        margin-right: 0;
      }

      .post_pic {
        background-size: cover;
        height: 100px;
        border: 1px solid #EEEEEE;
        background-origin: content-box;
        padding: 10px;
      }

      &.recipes {
        @include post-background-image("../images/food.jpg")
      }

      &.join_us {
        @include post-background-image("../images/website.jpg");
      }

      &.make_chips {
        @include post-background-image("../images/chips.jpg");
      }

      &.cook_book {
        @include post-background-image("../images/tree.jpg");
      }
    }
  }
}
