body {
  background: darkgray;
}

@mixin title-style-black() {
  font-size: 40px;
  font-family: "American Typewriter", Times, serif;
  color: #4d4e59;
  margin-bottom: 20px;
}

@mixin title-style-white() {
  font-size: 40px;
  font-family: "American Typewriter", Times, serif;
  color: #fff;
  margin-bottom: 20px;
}

@mixin standard-button() {
  background: rgba(131, 146, 150, 0.5);
  color: #fff;
  padding: 10px 60px;
  border-radius: 3px;
}

.onlineSection {
  background: url(./images/child.jpg) no-repeat;
  padding: 100px;
  background-size: 100% 600px;
  height: 400px;

  div {
    color: #fff;
    margin: 100px auto;
    width: 80%;
    text-align: center;
  }

  .button {
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 140px;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
  }

  span:nth-child(1) {
    display: block;
    @include title-style-white();
  }

  a:nth-child(2) {
    margin-right: 20px;
  }
}

.missionSection {
  background: #fcf9f4;
  text-align: center;
  padding: 100px;

  div:nth-child(1) {
    @include title-style-black();
  }

  div:nth-child(2) {
    color: #636471;
    font-size: 26px;
    margin-bottom: 40px;
  }

  a {
    background: #ffcd62;
    color: #636471;
    padding: 10px 60px;
    border-radius: 3px;
  }
}

.studentSection {
  background-color: #91d0b1;
  padding: 100px;
  color: #fff;

  .message {
    display: inline-block;
    text-align: left;
    width: 300px;
    margin-left: 100px;
  }

  .message div:nth-child(1) {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .message div:nth-child(2) {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .alarmImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: bottom;
    margin-left: 250px;
    display: inline-block;
    background-color: #76ad92;
  }

  a {
    @include standard-button()
  }
}