body {
  background: darkgray;
}

@mixin title-style-black() {
  font-size: 40px;
  font-family: "American Typewriter", Times, serif;
  color: #4d4e59;
  margin-bottom: 20px;
}

@mixin title-style-white() {
  font-size: 40px;
  font-family: "American Typewriter", Times, serif;
  color: #fff;
  margin-bottom: 20px;
}

@mixin standard-button() {
  background: rgba(131, 146, 150, 0.3);
  color: #fff;
  padding: 10px 60px;
  border-radius: 3px;
}

@mixin standard-section($backgroundColor) {

  background-color: $backgroundColor;
  padding: 100px;
  color: #fff;

  .message {
    display: inline-block;
    text-align: left;
    width: 300px;
    margin-left: 100px;
  }

  .message div:nth-child(1) {
    @include title-style-white();
  }

  .message div:nth-child(2) {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: bottom;
    margin-left: 250px;
    display: inline-block;
    background-color: rgba(131, 146, 150, 0.5);
  }

  a {
    @include standard-button();
  }
}

.onlineSection {
  padding: 100px;
  background-size: 100% 600px;
  height: 400px;

  background-image: linear-gradient(rgba(187, 187, 187, 0.3), rgba(187, 187, 187, 0.3)),
  url('./images/child.jpg');

  overflow: auto;
  div {
    color: #fff;
    margin: 100px auto;
    width: 80%;
    text-align: center;
  }

  .button {
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 140px;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
  }

  span:nth-child(1) {
    display: block;
    @include title-style-white();
  }

  a:nth-child(2) {
    margin-right: 20px;
  }
}

.missionSection {
  background: #fcf9f4;
  text-align: center;
  padding: 100px;

  div:nth-child(1) {
    @include title-style-black();
  }

  div:nth-child(2) {
    color: #636471;
    font-size: 26px;
    margin-bottom: 40px;
  }

  a {
    background: #ffcd62;
    color: #636471;
    padding: 10px 60px;
    border-radius: 3px;
  }
}

.studentsSection.standard {
  @include standard-section(#91d0b1);
}

.prospectiveSection {
  background-color: #ffcd62;
  padding: 100px;
  color: #fff;
  text-align: center;

  .message {
    text-align: left;
    display: inline-block;
    width: 300px;

    div:nth-child(1) {
      @include title-style-white();
    }

    div:nth-child(2) {
      font-size: 18px;
      margin-bottom: 40px;
    }

    a {
      @include standard-button();
    }
  }

  .issueImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: bottom;
    margin-left: 100px;
    display: inline-block;
    background-color: #deb256;
  }
}

.partnersSection.standard {
  @include standard-section(#80a8cc);
}

.progressSection {
  background: #fcf9f4;
  text-align: center;
  padding: 100px;
  overflow: auto;

  .title {
    @include title-style-black();
    margin-bottom: 60px;
  }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  li {
    float: left;
    border: 1px solid #d9ddde;
    padding: 100px;
    border-radius: 5px;
    margin-right: 20px;

    div:nth-child(1) {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }

  li:nth-child(1) {
    color: #91d0b1;
  }

  li:nth-child(2) {
    color: #ffcd62;
  }

  li:nth-child(3) {
    margin-right: 0;
    color: #80a8cc;
  }
}

.footer {
  background: #4d4e59;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
